@import '~antd/dist/antd.css';

.container_{
  height: 100vh;
}

.ant-layout-sider-children{
  padding-top: 60px;
}

 
.ant-layout-header span{
  color:white;

}

.login{
  width: 29%;
    border: solid 1px #00000017
}

#normal_login{
  padding-left: 31px;
    padding-right: 31px;
}

.login_wrapper{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container h1 {
  padding-top: 13px;
}

/* role permission */
.user_{
  /* background-color: red; */
  margin-left: 20px;
  flex:1;
}

.box_containter{
  /* background-color: brown; */
  display: flex;
}

.roles{
  flex: 1;
}

.head_{
  background-color: #1c33e794;
  color: white;
  border-radius: 7px;
  height: 41px;
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;

  align-items: center;
  
}

.hh{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ll{
  width: 3px;
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}

/* ending role permission */

.user_table{
  margin-top: 22px
}